<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.BannerDao">

    <select id="selectAllBanner" resultType="Banner">
        select id,name,cover,description,status,create_date
        from banner limit ${begin},${rows}
    </select>

    <select id="count" resultType="Integer">
        select count(*)
        from banner
    </select>


    <insert id="add">
        insert into banner values (
          #{id},
          #{name},
          #{cover},
          #{description},
          #{status},
          #{create_date}
         );
    </insert>

    <update id="edit">
        update banner set
            name = #{name},
            description = #{description},
            status = #{status},
            create_date = #{create_date}
        where id=#{id}
    </update>

    <delete id="del">
        delete from banner where id = #{id}
    </delete>

    <update id="update">
        update banner set cover=#{cover} where id=#{id}
    </update>
</mapper>